h1{
    color:red;
}

.navigation-bar{
    background: white;
    
}

.navigation-bar-text{
    color: white;
}

.introduction{
    text-align: center;
}





.civ-selector {
    text-align: center;
    margin-top: 300px;
}