img.HRE-FLAG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1{
    text-align: center;
}
img.Cool-infantry-man{

    max-width: 100%;

    float: right;
}

.navigator{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 100px;

}