img.CIV-FLAG {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1{
    text-align: center;
}
img.civ-Art{

    max-width: 100%;

    float: right;
}

.navigator-text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 100px;

}

.menu-navigator-china{

    display: flex;
    background-image: url(images/China-splashart.png);

}
.menu-navigator-china div{
    position: absolute;
    background-color: green;
    align-items: center;
    width: 100%;
}


/* Beautiful way on how to align my three children divs
Source: https://www.youtube.com/watch?v=Q1d-1FzdXEE */
.parent-div{
    display: flex;
    
    background-color: red;
}
.parent-div div{

    background-color: green;
    align-items: center;
    width: 100%;
    margin: 20px;
    
}
.text-div{
    text-align: center;
    
}